* {
    padding: 0%;
    margin: 0%;
    outline: 0cap;

}

@font-face {
    font-family: Legal;
    src: url(font/JunigardenSwash_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: pokemon;
    src: url(font/Pokemon\ Solid.ttf)
}

@font-face {
    font-family: hollowo;
    src: url(font/Pokemon\ Hollow.ttf);
}

body {
    background: url('./imagens/fundo2.jpg') no-repeat;
    background-position: center;
    background-size: 400px;
    width: 100%;
    display: inline;
}

    #ponto1 {
        /* Inicio do ponto 1 */
        background-color: #DB0B00;
        width: 100%;
        text-align: center;
        text-align: center;
    }

    #ponto1>h1 {
        font-family: hollowo;
        font-weight: 500;
        font-size: 3em;
        color: aliceblue;

    }

    /* final do ponto 1 */

    #ponto2 {
        /* inicio do ponto 2 */
        background-color: rgba(0, 0, 0, 0.877);
        color: aliceblue;
    }

    #ponto2>nav {
        width: 100%;


        li {
            display: inline;
            padding-left: 10px;
            color: rgb(184, 179, 179);
        }
    }

    li:hover {
        background-color: bisque;
        color: black;
        padding-bottom: 2px;
        padding-right: 5px;
        transition: 0.5s;
        cursor: pointer;
        border: 1px solid black;

    }

    /* final do ponto 2 */


    #ponto3 {
        /* inicio do ponto 3 */
        padding-top: 20px;
        width: 90%;



        #sub {
            padding-left: 40px;
            padding-bottom: 30px;
            margin: 30px;
            font-family: pokemon;
            font-size: 2.8em;
            font-weight: 500;
            margin: -10px;
            padding: -10px;
        }

        p {
            text-align: justify;
            padding-left: 15px;
            padding-right: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    }  /* final do ponto 3 */


    #ponto4 {
        display: flex;
        flex-wrap: wrap;
        display: inline-flex;


        .pokemon {
            width: 200px;
            padding: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            margin-top: 15px;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-right: 15px;
            text-align: center;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.459);


            img {
                width: 160px;
                height: 200px;
                width: 200px;
                box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.116);
            }


            .textos {
                font-family: Arial, Helvetica, sans-serif;
            }

            .textos>h2 {
                font-family: 'Courier New', Courier, monospace;
            }

            .textos>h3 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            ul {
                margin-top: 10px;
            }

            li {
                display: inline;
                padding: 5px;

            }
        }  /* final da class pokemon  */
     }  /* Esse é o final do body */




 #ponto5{   /* inicio do ponto 5 */
    margin-top: 90px;
    text-align: center;
    font-size: 1.4em;
    background-color: rgba(240, 248, 255, 0.849);
}           /* final do ponto 5 */



/* Lugar dos tipos */

.dragão:hover {
    font-size: 1.2em;
    border: none;
    background-color: aliceblue;
    color: rgba(234, 0, 255, 0.418);
}

.fogo:hover {
    font-size: 1.2em;
    border: none;
    background-color: aliceblue;
    color: rgba(255, 174, 0, 0.644);
}

.voador:hover {
    font-size: 1.2em;
    border: none;
    background-color: aliceblue;
    color: rgba(135, 227, 255, 0.644);
}

.fantasma:hover{
    font-size: 1.2em;
    border: none;
    background-color: aliceblue;
    color: rgb(91, 4, 109);
}

.eletrico:hover{
    font-size: 1.2em;
    border: none;
    background-color: aliceblue;
    color: rgba(244, 248, 6, 0.692);
}