/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #ponto4{
        width: 50%;
        overflow: hidden;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 500px) and (max-width: 767.98px) {
    #ponto4{
        width: 60%;
        overflow: hidden;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #ponto4{
        width: 70%;
        overflow: hidden;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #ponto4{
        width: 80%;
        overflow: hidden;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}